<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PartyLister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FC4FFD91BCF2F2A006D4A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC4FFEF1BCF2F2C006D4A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC4FFFA1BCF2F2D006D4A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
